cross-msysarm64-*/*.sig
cross-msysarm64-*/*.tar.lz
cross-msysarm64-*/*.tgz
s-msysarm64-*/*.tar.gz
cross-msysarm64-*/*.tar.gz.asc
cross-msysarm64-*/*.pkg.tar.zst

/*/*-hg/
/*/srclinks*
/*/*/hooks
/*/*/objects
/*/*/HEAD
/*/*/config
/*/*/FETCH_HEAD
/*/*/description
/*/*/packed-refs
/*/*/info
/*/*.part
/*/*/refs
/*/*.sign
/*/*/tortoisegit.index
/*/*/tortoisegit.data
/*/base/
/*/tmp*/
